
.confirmRole-page {
  height: 100%;
  background: #fff;
  .confirmRole-content{
    padding: 40px;
    .role{
      margin: 20px 0;
      padding: 20px;
      border: 1px solid  #F5F5F5;
      border-radius: 10px;
      .role-text{
        vertical-align: middle;
        margin-left: 20px;
        font-size: 28px;
      }
    }
  }
}
