
.businessManage-page {
  height: 100%;
  box-sizing: border-box;
  padding-top: 120px;
  .search-box{
    width: 100%;
    position: fixed;
    top: 120px;
    z-index: 9;
  }
  .list-box{
    box-sizing: border-box;
    height: 100%;
    background: #F6FAFC;
    padding-top: 80px;
  }
  .list{
    background: #fff;
    border-bottom: 1px solid #F6F6F6;
    padding: 32px;
    .top{
      height: 40px;
      line-height: 40px;
      .top-l{
        float: left;
        font-size: 28px;
        font-weight: bold;
        line-height: 1;
      }
      .top-r{
        float: right;
        position: relative;
        color: #F5A623;
        font-size: 28px;
        .dot{
          position: absolute;
          top: 50%;
          left: -20px;
          transform: translateY(-50%);
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background: #F5A623;
        }
      }

      .not_touch{
        color: #F5A623;
        .dot{
          background: #F5A623;
        }
      }

      .first_touch{
        color: #1890FF;
        .dot{
          background: #1890FF;
        }
      }

      .agreement{
        color: rgb(49, 232, 32);
        .dot{
          background: rgb(49, 232, 32);
        }
      }

      .success{
        color: #0BA194;
        .dot{
          background: #0BA194;
        }
      }
      
      .defeat{
        color: #E83820;
        .dot{
          background: #E83820;
        }
      }
      

      
    }
    .bottom{
      color: #6D7385;
      overflow: hidden;
      .bottom-l{
        float: left;
      }
      .bottom-r{
        float: right;
        color: #E83820;
        .icon{
          width: 28px;
          height: 28px;
          vertical-align: middle;
          margin-left: 5px;
        }
        .btn{
          display: inline-block;
          margin-left: 20px;
          .btn-text{
            color: #6D7385;
            vertical-align: middle;
            margin-left: 5px;
          }
        }
        
      }
    }
    .middle{
      padding: 32px 0;
      .source{
        margin-top: 16px;
      }
    }
  }
  .create-btn{
    position: fixed;
    right: 40px;
    bottom: 80px;
  }
}
